<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281065592471-u9gm3sus681f5l4ip1qbbarmcjv34v28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281065592471-u9gm3sus681f5l4ip1qbbarmcjv34v28</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ4wIZnYfeHQyHtiUrYLuTK4CKXBhBMB8</string>
	<key>GCM_SENDER_ID</key>
	<string>281065592471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProject2</string>
	<key>PROJECT_ID</key>
	<string>nstrackerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>nstrackerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281065592471:ios:0c75bb6268a5bf8ba3bbd2</string>
</dict>
</plist>